.contenedorSegundaPantalla {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.segundaPantalla {
    width: 100%; 
    margin-bottom: 10%;
    height: 80%;
    margin-right: 10%;
    margin-left: 5%;

}
.cajaAccion {
    height: 18%;
    margin-bottom: 1%;
    border: 1px, solid, blueviolet;
    width: 100%;
    background-color: rgba(72, 37, 117, 0.856);
    position: absolute;
    bottom: 0;

}
.accion1 {
    text-align: center;
    color: bisque;
}

.radioButton1 {
    margin-left: 2%;
}
.buttonSegundaPuerta {
    margin-left: 3%;
    padding: 5px;
    border-radius: 10px;
    background-color: lightcoral;
    color: bisque;
    font-weight: bold;
}

.buttonSegundaPuerta:hover {
    background-color: coral;
}